.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #FFF;
        font-size: 53px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 500;
        letter-spacing: 2px;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #EF3F31;
            font-size: 26px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #EF3F31;
            font-size: 26px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6; 

        }

        img {
            width: 65px;
            margin-left: 20px;
            opacity: 0;
            margin-bottom: -5px;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #FFF;
        margin-top: 20px;
        font-weight: 400;
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    

    .flat-button {
       color: #EF3F31;
       font-size: 20px;
       font-weight: 600;
       letter-spacing: 4px;
       font-family: sans-serif;
       text-decoration: none;
       padding: 10px 18px;
       border: 1px solid #EF3F31;
       margin-top: 25px;
       float: left; 
       animation: fadeIn 1s 1.8s backwards;

       &:hover {
        background: #EF3F31;
        color: #000000;

       }
    }
}

@media screen and (max-width: 1200px) {
    .tags,
    .home-page h1::before,
    .home-page h1::after {
        display: none;
    }

    .home-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 180px;
        }

        .logo-container {
            position: relative;
            width: 300px;
            height: auto;
            top: 0px;
            right: 0;
            box-sizing: border-box;
            margin: auto;
            left: 0;
        }
    }
}