.nav-bar {
    background: #141414;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 600px;

    .logo {
        display: block;
        padding: 20px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 60px;
            height: auto;

            &.sub-logo {
                width: 70px;
                margin-top: -5px;
                margin-left: 12px;
            }
        }
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 32px;
            color: #4d4d4e;
            display: block;
            line-height: 60px;
            height: 60px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #EF3F31;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 14px;
                letter-spacing: 4px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: #EF3F31;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 30px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 26px;
                line-height: 22px;

                &:hover svg {
                    color: #EF3F31;
                }
            }
        }
    }
}